<div>
  <div ng-show="notices.alerts">
    <h4>
      <span ng-repeat="alert in notices.alerts">
        <div class="alert alert-info" >{{ alert }}</div>
      </span>
    </h4>
  </div>
  <div ng-show="notices.errors">
    <h4>
      <span ng-repeat="error in notices.errors">
        <div class="alert alert-danger" >{{ error }}</div>
      </span>
    </h4>
  </div>
  <div ng-show="notices.successes">
    <h4>
      <span ng-repeat="success in notices.successes">
        <div class="alert alert-success" >{{ success }}</div>
      </span>
    </h4>
  </div>
  <div ng-show="notices.warnings">
    <h4>
      <span ng-repeat="warning in notices.warnings">
        <div class="alert alert-warning" >{{ warning }}</div>
      </span>
    </h4>
  </div>
</div>
