<div class="row">
  <div class="col-md-3 sidebar">
    <div>
      <h2>
        Playlists
        <span class="pull-right">
          <a
            ng-if="auth('users.index') && routeData.showBackButton"
            id="back"
            title="Back"
            class="btn btn-primary glyphicon glyphicon-arrow-left"
            href-func="user.indexUrl()"
          ></a>
        </span>
      </h2>
    </div>
    <div class="col-md-12 row">
      <h3>User</h3>
      <user-info user="user"></user-info>
      <hr />
    </div>
  </div>
  <div class="col-md-9 col-md-offset-3 main">
    <notices notices="notices"></notices>
    <div class="row">
      <div class="pull-left">
        <div class="form-group">
          <form class="form-search">
            <input
              type="text"
              class="search-query"
              placeholder="Search..."
              ng-model="filterBy.title"
            />
          </form>
        </div>
      </div>
      <div class="pull-right">
        <button
          class="btn btn-lg btn-success reimport"
          ng-class="{disabled: importing}"
          ng-click="reimportPlaylists()"
        >Re-import Playlists</button>
      </div>
    </div>
    <div class="row">
      <div
        tasty-table
        bind-resource-callback="getResource"
        bind-theme="theme"
        bind-init="init"
        bind-filters="filterBy"
        bind-reload="reloadCallback"
      >
        <table class="table table-striped table-condensed" id="playlists">
          <thead>
            <th></th>
            <th>Title</th>
            <th>Description</th>
            <th class="text-center">Videos</th>
            <th>&nbsp;</th>
          </thead>
          <tbody>
            <tr id="playlist_{{playlist.id}}" ng-repeat="playlist in rows">
              <td>
                <img
                  class="playlist-image"
                  ng-src="{{ playlist.withDefault(playlist.api_thumbnail_default_url) }}"
                />
              </td>
              <td class="title text-nowrap">{{ playlist.api_title }}</td>
              <td class="description">{{ playlist.api_description }}</td>
              <td class="video-count text-center">{{ playlist.video_count | number:0 }}</td>
              <td class="actions text-right text-nowrap">
                <button
                  title="Re-import Videos"
                  type="button"
                  class="refresh-videos btn btn-success glyphicon glyphicon-refresh"
                  ng-class="{disabled: importingVideos[playlist.id]}"
                  ng-click="reimportVideos(playlist)"
                ></button>
                <a href-func="playlist.videosUrl()"
                  title="Videos"
                  type="button"
                  class="videos btn btn-primary glyphicon glyphicon-film"
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
        <div id="tasty-pagination" tasty-pagination></div>
      </div>
    </div>
  </div>
</div>
