<div class="row">
  <div class="col-md-3 sidebar">
    <h1>Playlist Videos</h1>
    <hr />
  </div>
  <div class="col-md-9 col-md-offset-3 main">
    <notices notices="notices"></notices>
    <div class="row">
      <div class="pull-left">
        <form class="form-search">
          <input
            type="text"
            class="search-query"
            placeholder="Search..."
            ng-model="filterBy.title"
          />
        </form>
      </div>
      <div class="pull-right">
        <button
          class="btn btn-lg btn-success"
          ng-class="{disabled: importing}"
          ng-click="refreshVideos()"
        >Refresh Videos</button>
      </div>
    </div>
    <div class="row">
      <div
        tasty-table
        bind-resource-callback="getResource"
        bind-theme="theme"
        bind-init="init"
        bind-filters="filterBy"
        bind-reload="reloadCallback"
      >
        <div tasty-pagination></div>
        <table class="table table-striped table-condensed">
          <thead>
            <th>ID</th>
            <th>Title</th>
            <th>&nbsp;</th>
          </thead>
          <tbody>
            <tr ng-repeat="video in rows">
              <td><img ng-src="{{ video.api_thumbnail_default_url || 'https://s.ytimg.com/yts/img/no_thumbnail-vfl4t3-4R.jpg'}}" /></td>
              <td>{{ video.api_title }}</td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
        <div tasty-pagination></div>
      </div>
    </div>
  </div>
</div>
