<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to YouTube Tonight, <%= @user.name %></h1>
    <p>You have have been authorized!</p> 
    <p>One of us. One of us. Gooble gobble. Gooble gobble.</p>
  </body>
</html>
