<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table>
      <tr>
        <td>
          <h1><%= @user.name %> <<%= @user.email %>> has registered at YouTube tonight</h1>
        </td>
      </tr>
      <tr>
        <td>
          <p>If you where expecting this, go ahead and authorize them</p>
          <p>If not, then go send their account into the ether!</p>
          <p><a href="<%= root_url %>#/users">Go here</a> to authorize.</a>
        </td>
      </tr>
    </table>
  </body>
</html>
