<div class="row">
  <div class="col-md-3 sidebar">
    <h3
      class='show-title'
      title='{{show.title}}'
    >{{ show.title }}</h3>
    <hr />
    <div class="text-center">
      <img
        src="<%= asset_path("logo_broadcast.png") %>"
        alt="Broadcast"
        class="img-thumbnail"
        style="width: 302px; height: 170px;"
        ng-show="!state.playing"
      >
      <video-preview
        player-id="{{previewBroadcastId}}"
        width="302"
        height="170"
        mute="state.mute"
        ng-show="state.playing"
        always-mute="true"
      ></video-preview>
      <video-controls
        player-id="{{broadcastId}},{{previewBroadcastId}}"
      ></video-controls>
      <hr />

      <img
        data-src="holder.js/302x170?text=Preview&amp;bg=666&amp;fg=ccc"
        class="img-thumbnail"
        alt="Preview [302x170]"
        src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22302%22%20height%3D%22170%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20302%20170%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_150f8a330f6%20text%20%7B%20fill%3A%23ccc%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A15pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_150f8a330f6%22%3E%3Crect%20width%3D%22302%22%20height%3D%22170%22%20fill%3D%22%23666%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22113.203125%22%20y%3D%2291.6%22%3EPreview%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
        style="width: 302px; height: 170px;"
        ng-show="!showPreview"
      >
      <div class="preview_container">
        <video-preview
          player-id="{{previewPlayerId}}"
          mirror="{{broadcastId}}"
          width="302"
          height="170"
          mute="true"
          ng-show="showPreview"
          show-controls="true"
        ></video-preview>
        <video-controls
          player-id="{{previewPlayerId}}"
        ></video-controls>
      </div>
    </div>
  </div>
  <div class="col-md-9 col-md-offset-3 main" ng-show="shouldShowForm()">
    <video-form
      query-videos='queryVideos()'
      current-video="currentVideo"
      close-form="closeForm()"
      videos="videos"
    ></video-form>
  </div>
  <div class="col-md-9 col-md-offset-3 main" ng-show="!shouldShowForm()">
    <div class="row">
      <div class="pull-left">
        <span
          class="btn btn-lg btn-primary"
          ng-click="launchBroadcastPlayer()"
        >LAUNCH BROADCAST WINDOW</span>
      </div>
      <div class="pull-right">
        <span
          ng-click="addVideo()"
          class="btn btn-lg btn-success"
          ng-disabled="shouldShowForm()"
        >Add Video</span>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="list-group" ui-sortable="sortableOptions" ng-model="videos">
        <div ng-repeat="video in videos" class="panel panel-primary">
          <div class="panel-body row">
            <div class="col-md-9">
              <video-show
                video="video"
                sender-id="senderIds[video.id]"
                state="state"
                allow-broadcast="true"
                stop-video="stopVideo(video)"
                play-video="playVideo(video)"
              ></video-show>
            </div>
            <div class="col-md-3 text-right">
              <a href="javascript:void(0)"
                class="btn btn-default glyphicon glyphicon-pencil"
                ng-click="editVideo(video)"
              ></a>
              <a
                class="btn btn-danger glyphicon glyphicon-trash"
                aria-hidden="true"
                ng-click="destroy(video)"
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
