<div class="row">
  <div class="col-md-3 sidebar">
    <div class="row">
      <h2>Playlist Videos</h2>
      <hr />
      <div class="text-center">
        <img
          src="<%= asset_path("logo_broadcast.png") %>"
          alt="Broadcast"
          class="img-thumbnail"
          style="width: 302px; height: 170px;"
          ng-show="!state.playing"
        >
        <video-preview
          player-id="{{previewBroadcastId}}"
          width="302"
          height="170"
          mute="state.mute"
          ng-show="state.playing"
          always-mute="true"
        ></video-preview>
        <video-controls
          player-id="{{broadcastId}},{{previewBroadcastId}}"
        ></video-controls>
        <hr />
      </div>
    </div>
  </div>
  <div class="col-md-9 col-md-offset-3 main">
    <notices notices="notices"></notices>
    <div class="row">
      <div class="pull-left">
        <form class="form-search">
          <input
            type="text"
            class="search-query"
            placeholder="Search..."
            ng-model="filterBy.title"
          />
        </form>
      </div>
      <div class="pull-right">
        <button
          class="btn btn-lg btn-success"
          ng-class="{disabled: importing}"
          ng-click="refreshVideos()"
        >Refresh Videos</button>
      </div>
    </div>
    <div class="row">
      <div
        tasty-table
        bind-resource-callback="getResource"
        bind-theme="theme"
        bind-init="init"
        bind-filters="filterBy"
        bind-reload="reloadCallback"
      >
        <div tasty-pagination></div>
        <div ng-repeat="video in rows" class="panel panel-primary">
          <div class="panel-body row">
            <div class="col-md-9">
              <video-show
                video="video"
                sender-id="senderIds[video.id]"
                state="state"
                allow-broadcast="false"
                stop-video="stopVideo(video)"
                play-video="playVideo(video)"
              ></video-show>
            </div>
            <div class="col-md-3 text-right">
              <!-- TODO: Actions go here -->
            </div>
          </div>
        </div>
        <div tasty-pagination></div>
      </div>
    </div>
  </div>
</div>
