<div class="row">
  <div class="col-md-5 text-center">
    <img
      holder="holder.js/320x180?text=Youtube Video Thumbnail"
      alt="Youtube Video Thumbnail"
      ng-src="{{video.api_thumbnail_medium_url}}"
      ng-show="video.api_thumbnail_medium_url && !currentVideo"
    />
    <div class="preview_container">
      <video-preview
        player-id="player-{{video.id}}"
        video="currentVideo"
        width="320"
        height="180"
      ></video-preview>
    </div>
  </div>
  <div class="col-md-7">
    <p ng-show="video.api_title">
      <label>Youtube Title:</label> {{ video.api_title }}
    </p>
    <p ng-show="video.link">
      <label>URL:</label> {{ video.link }} :
	  <a href="javascript:void(0)"
	    ng-click="startPreview(video)"
		ng-show="!currentVideo"
	  >Preview</a>
	  <a href="javascript:void(0)"
	    ng-click="stopPreview(video)"
		ng-show="currentVideo"
	  >Stop Preview</a>
    </p>
    <p ng-show="video.start_time">
      <span ng-show="video.start_time"><label>Start At:</label> {{ video.start_time }}</span>
    </p>
    <p ng-show="video.end_time">
      <span ng-show="video.end_time"><label>End At:</label> {{ video.end_time }}</span>
    </p>
    <p ng-show="video.api_channel_title">
      <label>Channel:</label> {{ video.api_channel_title }}
    </p>
    <p ng-show="video.api_description">
      <label>Description:</label> {{ video.api_description }}
    </p>
  </div>
</div>
