<div class="row">
  <div class="col-md-4 text-center">
    <img
      holder="holder.js/320x180?text=Youtube Video Thumbnail"
      class="img-thumbnail"
      alt="Youtube Video Thumbnail"
      ng-src="{{currentVideo.api_thumbnail_medium_url}}"
      ng-show="currentVideo.api_thumbnail_medium_url"
    />
  </div>
  <div class="col-md-8">
    <p ng-show="">
      <label>Youtube Title:</label> {{ currentVideo.api_title }}
    </p>
    <p ng-show="currentVideo.link">
      <label>URL:</label> {{ currentVideo.link }}
    </p>
    <p ng-show="currentVideo.start_time">
      <span ng-show="currentVideo.start_time"><label>Start At:</label> {{ currentVideo.start_time }}</span>
    </p>
    <p ng-show="currentVideo.end_time">
      <span ng-show="currentVideo.end_time"><label>End At:</label> {{ currentVideo.end_time }}</span>
    </p>
    <p ng-show="currentVideo.channel">
      <label>Channel:</label> {{ currentVideo.api_channel_title }}
    </p>
    <p ng-show="currentVideo.api_description">
      <label>Description:</label> {{ currentVideo.api_description }}
    </p>
  </div>
</div>
