<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <slider
      class="preview-slider"
      ng-model="state.current_time"
      ng-disabled="!enableSlider()"
      min="0"
      step="1"
      max="state.duration"
      handle="round"
      tooltip="hide"
      on-start-slide="startSlide(value)"
      on-stop-slide="endSlide(value)"
      on-slide="slide(value)"
    ></slider>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-7 text-left">
    <a href="javascript:void(0)"
      class="btn btn-success glyphicon glyphicon-play preview-play"
      ng-click="play()"
      ng-disabled="!enablePlay()"
      ng-show="showPlay()"
    ></a>
    <a href="javascript:void(0)"
      class="btn btn-success glyphicon glyphicon-pause preview-pause"
      ng-click="pause()"
      ng-disabled="!enablePause()"
      ng-show="showPaused()"
    ></a>
    <a href="javascript:void(0)"
      class="btn btn-danger glyphicon glyphicon-stop preview-stop"
      ng-click="stop()"
      ng-disabled="!enableStop()"
    ></a>
  </div>
  <div class="col-md-3 text-right">
    <a
      class="btn glyphicon glyphicon-volume-up preview-unmute"
      aria-hidden="true"
      ng-class="{'btn-success': state.playing, 'btn-default': !state.playing}"
      ng-show="state.mute"
      ng-disabled="!state.playing"
      ng-click="unMute()"
    ></a>
    <a
      href="javascript:void(0)"
      class="btn btn-danger glyphicon glyphicon-volume-off preview-mute"
      aria-hidden="true"
      ng-show="!state.mute"
      ng-disabled="!state.playing"
      ng-click="mute()"
    ></a>
  </div>
  <div class="col-md-1"></div>
</div>
