<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Add Video To Queue</h3>
  </div>
  <div class="panel-body">
    <notices notices="notices"></notices>
    <form role="form">
      <div class="col-md-12">
        <div class="form-group">
          <label for="search">Search/URL:</label>
          <input
            type="text"
            name="search"
            class="form-control"
            ng-model="currentVideo.search"
          />
        </div>
        <div class="form-group">
          <label for="title">Title:</label>
          <input
            type="text"
            name="title"
            class="form-control"
            ng-model="currentVideo.title"
          />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="start_time">Start At (Seconds):</label>
          <input
            class="form-control"
            type="number"
            min="0"
            ng-model="currentVideo.start_time"
          />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="end_time">End At (Seconds):</label>
          <input
            class="form-control"
            type="number"
            min="0"
            ng-model="currentVideo.end_time"
          />
        </div>
      </div>
      <div class="col-md-8">&nbsp;</div>
      <div class="col-md-12">
        <video-show video="currentVideo"></video-show>
        <button
          type="submit"
          class="btn btn-default btn-success pull-right"
          ng-click="save()"
        >Add To Queue</button>
      </div>
    </form>
  </div>
</div>
