<div class="col-md-2 text-center">
  <img
    holder="holder.js/120x90?text=Youtube Video Thumbnail"
    alt="YouTube Video Thumbnail"
    ng-src="{{video.api_thumbnail_default_url}}"
    ng-show="video.api_thumbnail_default_url && !showVideo"
  />
  <div class="preview_container">
    <video-preview
      player-id="preview-{{video.id}}"
      width="120"
      height="90"
      mute="true"
    ></video-preview>
  </div>
</div>
<div class="col-md-10">
  <p>
    <a href="javascript:void(0)"
      ng-click="startPreview()"
      ng-show="!showVideo"
      class="btn btn-success"
    >Preview</a>
    <a href="javascript:void(0)"
      ng-click="stopPreview()"
      ng-show="showVideo"
	  ng-disabled="!playerReady"
      class="btn btn-danger"
    >Stop Preview</a>
    <a
      class="btn glyphicon glyphicon-volume-up"
      aria-hidden="true"
      ng-class="{'btn-success': playerReady, 'btn-default': !playerReady}"
      ng-show="muted"
      ng-disabled="!playerReady"
      ng-click="unMute()"
    ></a>
    <a
      href="javascript:void(0)"
      class="btn btn-danger glyphicon glyphicon-volume-off"
      aria-hidden="true"
      ng-show="showVideo && !muted"
      ng-disabled="!playerReady"
      ng-click="mute()"
    ></a>
  </p>
  <p>
    <label>Youtube Title:</label> {{ video.api_title }}<br />
    <label>Channel:</label> {{ video.api_channel_title }}<br />
    <span ng-show="video.start_time"><label>Start At:</label> {{ video.start_time }}</span>
    <span ng-show="video.end_time"><label>End At:</label> {{ video.end_time }}</span>
  </p>
</div>
