<div class="row">
  <div class="col-md-3 sidebar">
    <h2>Users</h2>
  </div>
  <div class="col-md-9 col-md-offset-3 main">
    <table class="table table-striped table-bordered" id="users" ts-wrapper>
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th ts-criteria="id">#</th>
          <th ts-criteria="name" ts-default="descending">Name</th>
          <th ts-criteria="email">Email</th>
          <th>Roles</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users" ts-repeat>
          <td class="text-center profile"><img
            class="profile-image-icon"
            ng-src="{{user.profile_image}}"
          /></td>
          <td class="text-right user-id">{{ user.id }}</td>
          <td class="user-name">{{ user.name}}</td>
          <td class="user-email">{{ user.email}}</td>
          <td class="user-roles">{{ user.roleTitleStr()}}</td>
          <td class="text-right actions">
            <span ng-show="$root.currentUser.id != user.id">
              <span
                title="Authorize"
                class="btn btn-success"
                ng-if="!user.is_admin && user.requires_auth"
                ng-click="authorize(user)"
              >Authorize</span>
              <span
                title="De-Authorize"
                class="btn btn-danger glyphicon glyphicon-ban-circle"
                ng-if="!user.is_admin && !user.requires_auth"
                ng-click="deAuthorize(user)"
              ></span>
              <span
                title="Edit User"
                class="btn btn-primary glyphicon glyphicon-edit"
                ng-if="$root.currentUser.is_admin"
                ng-click="edit(user)"
              ></span>
            </span>
            <a
              class="videos btn btn-primary glyphicon glyphicon-th-list"
              href-func="user.playlistsUrl()"
              title="Playlists"
              ng-if="canReadPlaylists"
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
