<div class="row">
  <div class="col-md-3 sidebar">
    <h3>YouTube Tonight</h3>
  </div>
  <div class="col-md-9 col-md-offset-3 main">
    <div class="row">
      <div class="list-group" ui-sortable="sortableOptions" ng-model="videos">
        <h1>Thanks for signing in!</h1>
        <p>Your account still requires authorization.</p>
        <p>An email will be sent to <%= @user.email %> once your application has been reviewed</p>
      </div>
    </div>
  </div>
</div>
